<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Nathan Wong Personal Website</title>
  <link rel="stylesheet" href="/stylesheets/css/styles.css">
</head>

<body>
  <header>
    <div>
      <h1>Nathan Wong</h1>
    </div>
    <div>
      <a id='navResume' class='firstBtn' href='https://github.com/Nate18464/Resume/Resume_Nikos_Aghazarian.pdf'><p>Resume</p></a>
      <a id='navGithub' class='lastBtn' href='https://github.com/Nate18464'><p>Github</p></a>
    </div>
  </header>
</body>
</html>

