<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Nathan Wong Personal Website</title>
  <link rel="stylesheet" href="/stylesheets/css/styles.css">
</head>

<body>
  <header>
    <div id="upperHeader">
      <h1>Nathan Wong</h1>
    </div>
    <div id="lowerHeader">
      <div>
        <a href="https://github.com/Nate18464/Resume"><p>Resume</p></a>
      </div>
      <div>
        <a href="https://github.com/Nate18464"><p>Github</p></a>
      </div>
    </div>
  </header>
  <div id="overallBox">
    <div id="leftBox">
      <img src="/Assets/NathanWong.jpg">
      <h2>Hometown: Cotati, CA</h2>
      <h2>College: UC Davis</h2>
      <h2>Expected Graduation: June 2022</h2>
      <h3>Beginner Skills</h3>
      <li>Java</li>
      <li>Swift</li>
      <li>React</li>
      <li>Node.js</li>
      <li>Express</li>
      <h3>Intermediate Skills</h3>
      <li>Python</li>
      <li>C++</li>
      <li>C</li>
      <li>Tableau</li>
      <li>HTML5 and CSS</li>
      <li>JavaScript</li>
      <li>Shell Scripting (including sed and awk)</li>
      <h3>Familiar Topics</h3>
      <li>Sorting Algorithms</li>
      <li>A Star Algorithm</li>
      <li>Linear Regression</li>
      <li>Clustering</li>
      <li>ANN</li>
      <li>Data Structures</li>
      <li>Object Oriented Programming</li>
    </div>  

    <div id="rightBox">
      <h3>Work Experience</h3>
      <h4>Umpire, Cal Ripken Baseball League, Rohnert Park, CA (9/2013-4/2018)</h4>
      <li>Worked with a partner to manage the flow of baseball games</li>
      <li>Maked decisive calls during a game</li>
      <li>Manage personalities of coaches and players</li>
      <li>Explain rules clearly to avoid confusion</li>
      <h4>Intern, HCL, Sacramento, CA (6/2021-8-2021)</h4>
      <li>Worked on a project using linear transformations in order to test different lines to predict the percentage of people fully vaccinated</li>

      <h3>Leadership Experience</h3>
      <h4>SkillsUSA (2015-16 Vice-President, 2016-17 President, 2017-18 Reporter)</h4>
      <li>Coordinated with others to organize meetings, file peperwork, coordinate travel and stay, and pay fees by deadlines</li>
      <li>Led meetings by facilitating discussion and giving information</li>
      <h4>Bowling Team President (2019-Current)</h4>
      <li>Coordinate fundraisers and bowling events</li>
      <li>Delegate responsiblities to other officers</li>
      <li>Fill out forms and send in information by deadlines</li>
      <li>Manage budget for the year</li>

      <h3>Related Coursework</h3>
      <li>ECS 36A - Programming</li>
      <li>ECS 36B - Object-Oriented Programming</li>
      <li>ECS 36C - Data Structures</li>
      <li>ECS 50 - Machine Dependent Programming</li>
      <li>ECS 120 - Theory Computation</li>
      <li>ECS 154A - Computer Architecture</li>
      <li>ECS 122A - Algorithm Design & Analysis</li>
      <li>ECS 132 - Probability & Statistical Models for CS</li>
      <li>ECS 122B - Algorithm Design & Analysis</li>
      <li>ECS 162 - Web Programming</li>
      <li>ECS 171 - Machine Learning</li>

      <h3>Projects</h3>
      <a href="https://github.com/Nate18464/WorldVaccination"><h4>People Fully Vaccinated Predictor</h4></a>
      <li>Research, Visualizations, and UI app to make predictions</li>
      <li>Tests Linear, Polynomial, Logistic, Logistic Polynomial, and Logistic Logarithmic curves</li>
      <h4>Various Games</h4>
      <a href="https://github.com/Nate18464/Hearts"><li>Hearts</li></a> 
      <a href="https://github.com/Nate18464/Oh-shit"><li>Oh-shit</li></a> 
      <a href="https://github.com/Nate18464/War"><li>War</li></a>
      <a href="https://github.com/Nate18464/PasoyCPP"><li>Pasoy</li></a> 
    </div>
  </div>

</body>
</html>

